:root {
  --transition-length: 0.6s;
}

body {
  margin: 5%;
}

.search-box {
  transition: width var(--transition-length), border-radius var(--transition-length), background var(--transition-length), box-shadow var(--transition-length);
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: rgb(235, 235, 235);

  &+label .search-icon {
    color: black
  }
  &:hover {
    color: white;
    background: rgb(200, 200, 200);
    box-shadow: 0 0 0 5px rgb(61, 71, 82);
    &+label .search-icon {
      color: white
    }
  }
  &:focus {
    transition: width var(--transition-length) cubic-bezier(0,1.22,.66,1.39), border-radius var(--transition-length), background var(--transition-length);
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: black;
    &+label .search-icon {
      color: black;
    }
  }
  &:not(:focus) {
    text-indent: -5000px;
  }
}

#search-submit {
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  background: rgb(235, 235, 235);
  @apply p-2;
  @apply px-3;
}

.search-icon {
  position: relative;
  left: -27px;
  color: white;
  cursor: pointer;
}